{% if page.lang == "pt-br" %}

<hr />
<footer>
  <p style="text-align: center; margin-bottom: 0.625rem">
    <small
      >Design da página por <a href="https://github.com/ankitsultana" target="_blank">@ankitsultana</a> com modificações por
      <a href="https://github.com/gabireze" target="_blank">@gabireze</a></small
    >
  </p>
  <br />
</footer>

{% else %}

<hr />
<footer>
  <p style="text-align: center; margin-bottom: 0.625rem">
    <small
      >Page design by <a href="https://github.com/ankitsultana" target="_blank">@ankitsultana</a> with modifications by
      <a href="https://github.com/gabireze" target="_blank">@gabireze</a></small
    >
  </p>
  <br />
</footer>

{% endif %}
