@import "vars";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
}
body {
  margin: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
}
a {
  text-decoration: none;
  color: $accent;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 500;
}

#author-name {
  font-size: 1.375rem;
  color: #272727;
  display: inline-block;
}
.navbar {
  padding-top: 1.5625rem;
  height: 3.125rem;
}
.navbar-ul {
  display: inline-block;
  margin: 0;
  padding: 0.3125rem 0;
  margin-left: 1.25rem;
  font-size: 1rem;
}
.nav-list {
  list-style-type: none;
  margin: 0 0.3125rem 0 0.625rem;
}
.alignable {
  display: inline-block;
}
.pull-left {
  @extend .alignable;
  float: left;
}
.pull-right {
  @extend .alignable;
  float: right;
}

.container {
  max-width: $max-width;
  margin: auto;
}

@media (max-width: 50rem) {
  .container {
    max-width: $med-width;
    transition: 0.3s ease all;
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 40.625rem) {
  .container {
    max-width: 83%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar-ul {
    margin-top: 0.3125rem;
  }
}

@media (max-width: 31.25rem) {
  .navbar {
    text-align: center;
    padding: 1.5625rem 0;
  }
  #author-name {
    width: 100%;
    float: none;
  }
  #navlist {
    padding: 0.625rem 0;
    margin: 0;
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
  #navlist li.alignable {
    display: inline-block;
  }
  #navlist li.pull-left {
    float: none;
  }
  #navlist li.nav-list {
    margin: 0;
  }
}

@import "typography";
@import "tables";
