@import "vars";

.content {
  a:hover {
    text-decoration: underline;
  }
  ol {
    counter-reset: list;
  }
  ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
  }
  ul > li {
    margin: 0.3125rem 0;
  }
  ul {
    padding: 0 1.25rem;
  }
  ol {
    padding: 0 1.875rem;
  }
  ol > li:before {
    content: "[" counter(list, decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -1.875rem;
  }
  blockquote {
    border-left: 0.3125rem solid #333333;
    margin: 1.25rem 0;
    padding: 0.125rem 0.5rem;
    font-style: italic;
  }
  .profile-picture {
    height: $image-size;
    width: $image-size;
    object-fit: cover;
    position: relative;
    margin: -0.625rem 0 0 0.9375rem;
    float: right;
    border-radius: 50%;
    p & {
      padding: 0;
      margin: 0;
    }
    @media (max-width: $small-width) {
      img {
        margin-top: -0.3125rem;
      }
    }
  }
  img {
    text-align: center;
    width: 100%;
  }
}
