<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLPFEML755"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-VLPFEML755');
    </script>
    <script data-ad-client="ca-pub-2445896450211975" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '326047035404298');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=326047035404298&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Primary Meta Tags -->
    <title>Gabriel de Rezende Gonçalves</title>
    <meta name="title" content="Gabriel de Rezende Gonçalves">
    <meta name="description"
        content="Sou desenvolvedor, tenho 19 anos e estou cursando o quinto semestre em Engenharia de Software na Pontifícia Universidade Católica de Campinas.">
    <meta name="keywords"
        content="dev, desenvolvedor, desenvolvimento, flutter, js, javascript, apis, web services, node.js, aws, cv, curriculum, currículo, estágio, Gabriel de Rezende Gonçalves">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gabriel de Rezende Gonçalves">

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gabireze.com.br">
    <meta property="og:title" content="Gabriel de Rezende Gonçalves">
    <meta property="og:description"
        content="Sou desenvolvedor, tenho 19 anos e estou cursando o quinto semestre em Engenharia de Software na Pontifícia Universidade Católica de Campinas.">
    <meta property="og:site_name" content="Gabriel de Rezende Gonçalves">
    <meta property="og:image" content="https://gabireze.com.br/user.jpg">
    <meta property="og:image:alt" content="Profile image of Gabriel de Rezende Gonçalves" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gabireze.com.br/">
    <meta name="twitter:site" content="mestreyu">
    <meta name="twitter:creator" content="mestreyu">
    <meta property="twitter:title" content="Gabriel de Rezende Gonçalves">
    <meta property="twitter:description"
        content="Sou desenvolvedor, tenho 19 anos e estou cursando o quinto semestre em Engenharia de Software na Pontifícia Universidade Católica de Campinas.">
    <meta name="twitter:image" content="https://gabireze.com.br/user.jpg">
    <meta property="twitter:image:alt" content="Profile image of Gabriel de Rezende Gonçalves" />

    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    {% if site.favicon %}
    <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
    <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
    {% endif %}
</head>

<body>
    <div class="wrapper">
        <div class="navbar container">
            {% if site.ins_logo %}
            <img id="ins-logo" src="{{ site.ins_logo }}" />
            {% endif %}
            <a id="author-name" class="alignable pull-left" href="/">{{ site.title }}</a>
            <ul id="navlist" class="alignable pull-right navbar-ul">
                {% for x in site.nav %}
                {% if x.name == "LinkedIn" %}
                <li class="alignable pull-left nav-list"><a target="_blank" href="{{ x.link }}">{{ x.name }}</a>
                    {% else %}
                <li class="alignable pull-left nav-list"><a href="{{ x.link }}">{{ x.name }}</a>
                    {% endif %}
                    {% if forloop.last == false %}
                    /
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both"></div>
        <hr>
        {% if page.is_contact == true %}
        <div class="container content contact">
            {% else %}
            <div class="container content">
                {% endif %}
                {{ content }}
                {% if site.footer == true %}
                <hr />
                <p style="text-align: center; margin-bottom: 10px">
                    <small>Design da página por <a href="https://github.com/ankitsultana" target="_blank"
                            style="color: black">@ankitsultana</a> com modificações por <a
                            href="https://github.com/gabireze" target="_blank"
                            style="color: black">@gabireze</a></small>
                </p><br />
                {% endif %}
            </div>
        </div>
</body>
<footer>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="gabireze"
    data-description="Apoie-me no Buy me a coffee!"
    data-message="Obrigado pela visita. Agora você pode me comprar um café!" data-color="#FFDD00" data-position="Right"
    data-x_margin="18" data-y_margin="18"></script>