<!DOCTYPE html>
  <html {% if page.url contains "/en/" %}lang="en"{% else %}lang="{{ site.default_lang }}"{% endif %}>
  <head>
    <!-- cookiebot.com -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="d16fdba9-be0f-46d4-98a0-605da80c966f"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139610091-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-139610091-3");
    </script>
    {% if page.title %} {% capture full_title %}{{ page.title }} | {{ site.title }}{% endcapture %} {% else %} {% capture full_title %}{{ site.title }}{%
      endcapture %} {% endif %} 
      
    {% if page.description %} {% capture full_description %}{{ page.description }}{% endcapture %} {% else %} {% capture
    full_description %}{{ site.description }}{% endcapture %} {% endif %}
    <!-- Primary Meta Tags -->
    <title>{{ full_title }}</title>
    <meta name="title" content="{{ full_title }}" />
    <meta name="description" content="{{ full_description  }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ site.author  }}" />
    <!-- Open Graph / Facebook -->
    <meta property="og:locale" {% if page.url contains "/en/" %}content="en"{% else %}content="{{ site.default_lang }}"{% endif %} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ full_title }}" />
    <meta property="og:description" content="{{ full_description  }}" />
    <meta property="og:site_name" content="{{ full_title }}" />
    <meta property="og:image" content="{{ site.url}}/assets/img/user.png" />
    <meta property="og:image:alt" content="Profile image of {{ site.author }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}/" />
    <meta name="twitter:site" content="@gabireze_" />
    <meta name="twitter:creator" content="@gabireze_" />
    <meta property="twitter:title" content="{{ full_title }}" />
    <meta property="twitter:description" content="{{ full_description  }}" />
    <meta name="twitter:image" content="{{ site.url}}/assets/img/user.png" />
    <meta property="twitter:image:alt" content="Profile image of {{ site.author }}" />
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/" />
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,500,700" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
    <link rel="icon" type="image/ico" href="{{ site.favicon_location }}" />
    <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}" />
  </head>
  <body>
    {% include header.html %} {% include main.html %} {% include footer.html %}
  </body>
</html>
